.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Rside {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background-color: white;
}

.Lside  {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
  background-color: whitesmoke;
}
.table-cell {
  border-width: 1px;
  border-color: gray;
  border-bottom: black;
}
.books-header {
  margin-bottom: 1cm  ;
  border-bottom: #282c34;
  color: #4cd9d9;
  width: 100%;
  position: center;
}
.seperater {
  border-bottom: 3px solid #1a5566;
  margin-bottom: 10px;
}
.bookButton {

  position: static;

}
.book {
  background-size: auto;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  width: 30%;

}
.bookButton {
  text-align: left;

  display:inline-block;
  margin-left:auto;
  margin-right:auto;

  width:30%;

}
.bookSeperater {
  margin-bottom:5px;
  margin-top: 5px;
  border-bottom: 3px solid #bcd9e7;
}
.newBook {
  position: center;


}
.delete-button {
  background-color: #51a9cd;

}